footer {
    width: 100%;
    height: 543px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .footer {
        width: 1074px;
        height: 343px;
        border-top: 5px solid #F9DE4E;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .footer-section-one {
            display: flex;
            justify-content: space-between;
            margin: auto 40px;

            .footer-logo {
                h2 {
                    font-family: Roboto, sans-serif;
                    font-size: 48px;
                    font-weight: 900;
                    line-height: 56.25px;
                    text-align: center;
                    margin-right: 100px;
                    color: #434138;
                    border: 5px solid #F9DE4E;
                }
            }     
            
            .footer-about {
                div {
                    display: flex;
                }

                svg {
                    margin: 0 10px;
                }

                .phone-fax {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    p {
                        font-family: 'Assistant', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18.31px;
                        color: #0A142F;
                    }
                }

                .location {
                    p {
                        font-family: 'Assistant', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18.31px;
                        color: #0A142F;
                    }
                }

                .social-media {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    p {
                        font-family: 'Assistant', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18.31px;
                        color: #0A142F;
                    }
                }
            }
        }

        .footer-section-two {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #7BB9FC;
            padding-top: 20px;

            nav {
                display: flex;
                justify-content: space-between;
                height: 100%;
                align-items: center;

                ul {
                    display: flex;

                    li {
                        a {
                            color: #0A142F;
                            font-family: 'Assistant', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18.31px;
                            margin-right: 100px;
                        }
                    }
                }
            }

            .footer-copyright {
                p {
                    font-family: 'Assistant', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18.31px;
                }
            }
        }
    }
}